body {
    font-family: "Faculty Glyphic";
    margin: 0;
}

body a {
    color: black;
    border-bottom: 3px solid transparent;
}

body a:hover {
    color: grey;
}

body a:active {
    color: black;
}

#logo {
    border: 3px solid black;
}
h1 {
    text-align: center;
    margin-top:0;

}
h1 a{
    border-bottom:  3px solid transparent;
}

header {
    background-color: rgba(127,55,55,0.5);
    border-bottom: 3px solid black;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    border: 3px solid black;
}